*.lo
*.o
/autom4te.cache/
/doc/Makefile

/examples/.deps
/examples/.libs
/examples/Makefile
/examples/elements
/examples/outline

/lib/.deps
/lib/.libs
/lib/Makefile
/tests/.deps
/tests/Makefile

/tests/benchmark/.deps
/tests/benchmark/.libs
/tests/benchmark/Makefile
/tests/benchmark/benchmark

/xmlwf/.deps
/xmlwf/.libs
/xmlwf/Makefile
/xmlwf/xmlwf

/Makefile
/config.log
/config.status
/expat.pc
/libtool
/run.sh
/stamp-h1

