*.lo
*.o
/autom4te.cache/
/doc/Makefile

/examples/.deps
/examples/.libs
/examples/Makefile
/examples/elements
/examples/outline

/lib/.deps
/lib/.libs
/test/.deps
/test/Makefile

/test/benchmark/.deps
/test/benchmark/.libs
/test/benchmark/Makefile
/test/benchmark/benchmark

/xmlwf/.deps
/xmlwf/.libs
/xmlwf/Makefile
/xmlwf/xmlwf

/Makefile
/config.log
/config.status
/expat.pc
/libtool
/run.sh
/stamp-h1

