*.o
*.lo
ACM/ADbg/Makefile
ACM/Makefile
ACM/ddk/Makefile
ACM/tinyxml/Makefile
Dll/Makefile
Makefile
config.h
config.log
config.status
doc/Makefile
doc/html/Makefile
doc/man/Makefile
dshow/Makefile
frontend/.deps/brhist.Po
frontend/.deps/console.Po
frontend/.deps/get_audio.Po
frontend/.deps/gpkplotting.Po
frontend/.deps/gtkanal.Po
frontend/.deps/lame_main.Po
frontend/.deps/lametime.Po
frontend/.deps/main.Po
frontend/.deps/mp3rtp.Po
frontend/.deps/mp3x.Po
frontend/.deps/parse.Po
frontend/.deps/rtp.Po
frontend/.deps/timestatus.Po
frontend/Makefile
frontend/lame
include/Makefile
lame.spec
libmp3lame/.deps/VbrTag.Plo
libmp3lame/.deps/bitstream.Plo
libmp3lame/.deps/encoder.Plo
libmp3lame/.deps/fft.Plo
libmp3lame/.deps/gain_analysis.Plo
libmp3lame/.deps/id3tag.Plo
libmp3lame/.deps/lame.Plo
libmp3lame/.deps/mpglib_interface.Plo
libmp3lame/.deps/newmdct.Plo
libmp3lame/.deps/presets.Plo
libmp3lame/.deps/psymodel.Plo
libmp3lame/.deps/quantize.Plo
libmp3lame/.deps/quantize_pvt.Plo
libmp3lame/.deps/reservoir.Plo
libmp3lame/.deps/set_get.Plo
libmp3lame/.deps/tables.Plo
libmp3lame/.deps/takehiro.Plo
libmp3lame/.deps/util.Plo
libmp3lame/.deps/vbrquantize.Plo
libmp3lame/.deps/version.Plo
libmp3lame/.libs/libmp3lame.lai
libmp3lame/Makefile
libmp3lame/i386/Makefile
libmp3lame/vector/.deps/xmm_quantize_sub.Plo
libmp3lame/vector/Makefile
libtool
mac/Makefile
macosx/English.lproj/Makefile
macosx/LAME.xcodeproj/Makefile
macosx/Makefile
misc/.deps/abx.Po
misc/.deps/ath.Po
misc/.deps/scalartest.Po
misc/Makefile
mpglib/.deps/common.Plo
mpglib/.deps/dct64_i386.Plo
mpglib/.deps/decode_i386.Plo
mpglib/.deps/interface.Plo
mpglib/.deps/layer1.Plo
mpglib/.deps/layer2.Plo
mpglib/.deps/layer3.Plo
mpglib/.deps/tabinit.Plo
mpglib/Makefile
stamp-h1
vc_solution/Makefile
