	deleted:    Makefile
	deleted:    bin/.deps/fribidi-benchmark.Po
	deleted:    bin/.deps/fribidi-bidi-types.Po
	deleted:    bin/.deps/fribidi-caprtl2utf8.Po
	deleted:    bin/.deps/fribidi-main.Po
	deleted:    bin/.deps/getopt.Po
	deleted:    bin/.deps/getopt1.Po
	deleted:    bin/Makefile
	deleted:    bin/fribidi
	deleted:    bin/fribidi-benchmark
	deleted:    bin/fribidi-bidi-types
	deleted:    bin/fribidi-caprtl2utf8
	deleted:    charset/.deps/fribidi-char-sets-cap-rtl.Plo
	deleted:    charset/.deps/fribidi-char-sets-cp1255.Plo
	deleted:    charset/.deps/fribidi-char-sets-cp1256.Plo
	deleted:    charset/.deps/fribidi-char-sets-iso8859-6.Plo
	deleted:    charset/.deps/fribidi-char-sets-iso8859-8.Plo
	deleted:    charset/.deps/fribidi-char-sets-utf8.Plo
	deleted:    charset/.deps/fribidi-char-sets.Plo
	deleted:    charset/Makefile
	deleted:    config.h
	deleted:    config.log
	deleted:    config.status
	deleted:    doc/Makefile
	deleted:    fribidi.pc
	deleted:    gen.tab/.deps/gen-arabic-shaping-tab.Po
	deleted:    gen.tab/.deps/gen-bidi-type-tab.Po
	deleted:    gen.tab/.deps/gen-joining-type-tab.Po
	deleted:    gen.tab/.deps/gen-mirroring-tab.Po
	deleted:    gen.tab/.deps/gen-unicode-version.Po
	deleted:    gen.tab/.deps/packtab.Po
	deleted:    gen.tab/Makefile
	deleted:    lib/.deps/fribidi-arabic.Plo
	deleted:    lib/.deps/fribidi-bidi-types.Plo
	deleted:    lib/.deps/fribidi-bidi.Plo
	deleted:    lib/.deps/fribidi-deprecated.Plo
	deleted:    lib/.deps/fribidi-joining-types.Plo
	deleted:    lib/.deps/fribidi-joining.Plo
	deleted:    lib/.deps/fribidi-mem.Plo
	deleted:    lib/.deps/fribidi-mirroring.Plo
	deleted:    lib/.deps/fribidi-run.Plo
	deleted:    lib/.deps/fribidi-shape.Plo
	deleted:    lib/.deps/fribidi.Plo
	deleted:    lib/.libs/libfribidi.lai
	deleted:    lib/Makefile
	deleted:    lib/fribidi-config.h
	deleted:    libtool
	deleted:    stamp-h1
	deleted:    test/Makefile

