Makefile
bin/.deps/fribidi-benchmark.Po
bin/.deps/fribidi-bidi-types.Po
bin/.deps/fribidi-caprtl2utf8.Po
bin/.deps/fribidi-main.Po
bin/.deps/getopt.Po
bin/.deps/getopt1.Po
bin/Makefile
bin/fribidi
bin/fribidi-benchmark
bin/fribidi-bidi-types
bin/fribidi-caprtl2utf8
charset/.deps/fribidi-char-sets-cap-rtl.Plo
charset/.deps/fribidi-char-sets-cp1255.Plo
charset/.deps/fribidi-char-sets-cp1256.Plo
charset/.deps/fribidi-char-sets-iso8859-6.Plo
charset/.deps/fribidi-char-sets-iso8859-8.Plo
charset/.deps/fribidi-char-sets-utf8.Plo
charset/.deps/fribidi-char-sets.Plo
charset/Makefile
config.h
config.log
config.status
doc/Makefile
fribidi.pc
gen.tab/.deps/gen-arabic-shaping-tab.Po
gen.tab/.deps/gen-bidi-type-tab.Po
gen.tab/.deps/gen-joining-type-tab.Po
gen.tab/.deps/gen-mirroring-tab.Po
gen.tab/.deps/gen-unicode-version.Po
gen.tab/.deps/packtab.Po
gen.tab/Makefile
lib/.deps/fribidi-arabic.Plo
lib/.deps/fribidi-bidi-types.Plo
lib/.deps/fribidi-bidi.Plo
lib/.deps/fribidi-deprecated.Plo
lib/.deps/fribidi-joining-types.Plo
lib/.deps/fribidi-joining.Plo
lib/.deps/fribidi-mem.Plo
lib/.deps/fribidi-mirroring.Plo
lib/.deps/fribidi-run.Plo
lib/.deps/fribidi-shape.Plo
lib/.deps/fribidi.Plo
lib/.libs/libfribidi.lai
lib/Makefile
lib/fribidi-config.h
libtool
stamp-h1
test/Makefile

