Makefile
bin/.deps/*
bin/.libs/*
bin/Makefile
bin/fribidi
bin/fribidi-benchmark
bin/fribidi-bidi-types
bin/fribidi-caprtl2utf8
charset/.deps/*
charset/Makefile
config.h
config.log
config.status
doc/Makefile
fribidi.pc
gen.tab/.deps/*
gen.tab/Makefile
lib/.deps/*
lib/.libs/libfribidi.lai
lib/Makefile
lib/fribidi-config.h
libtool
stamp-h1
test/Makefile
autom4te.cache/*

