/autom4te.cache

/doc/.deps
/doc/Makefile
/doc/Makefile.in
/doc/version.sgml

/fc-cache/.deps
/fc-cache/.libs
/fc-cache/Makefile
/fc-cache/Makefile.in
/fc-cache/fc-cache


/fc-case/Makefile
/fc-case/Makefile.in
/fc-case/fcalias.h
/fc-case/fccase.h
/fc-case/fcaliastail.h


/fc-cat/.deps
/fc-cat/.libs
/fc-cat/Makefile
/fc-cat/Makefile.in
/fc-cat/fc-cat

/fc-conflist/.deps
/fc-conflist/.libs
/fc-conflist/Makefile
/fc-conflist/Makefile.in
/fc-conflist/fc-conflist

fc-lang/Makefile
fc-lang/Makefile.in
fc-lang/fcalias.h
fc-lang/fclang.h
fc-lang/fcaliastail.h


/fc-list/.deps
/fc-list/.libs
/fc-list/Makefile
/fc-list/Makefile.in
/fc-list/fc-list


/fc-match/.deps
/fc-match/.libs
/fc-match/Makefile
fc-match/Makefile.in
fc-match/fc-match

/fc-pattern/.deps
/fc-pattern/.libs
/fc-pattern/Makefile
/fc-pattern/Makefile.in
/fc-pattern/fc-pattern

/fc-query/.deps
/fc-query/.libs
/fc-query/Makefile
/fc-query/Makefile.in
/fc-query/fc-query

/fc-scan/.deps
/fc-scan/.libs
/fc-scan/Makefile
/fc-scan/Makefile.in
/fc-scan/fc-scan

/fc-validate/.deps
/fc-validate/.libs
/fc-validate/Makefile
/fc-validate/Makefile.in
/fc-validate/fc-validate

/fontconfig//Makefile
/fontconfig/Makefile.in

/its//Makefile
/its/Makefile.in

/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/output.2
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autom4te.cache/traces.2
/doc/Makefile.in
/fc-cache/Makefile.in
/fc-case/Makefile.in
/fc-case/fccase.h
/fc-cat/Makefile.in
/fc-conflist/Makefile.in
/fc-lang/Makefile.in
/fc-lang/fclang.h
/fc-list/Makefile.in
/fc-match/Makefile.in
/fc-pattern/Makefile.in
/fc-query/Makefile.in
/fc-scan/Makefile.in
/fc-validate/Makefile.in
/fontconfig/Makefile.in
/its/Makefile.in

/m4/codeset.m4
/m4/extern-inline.m4
/m4/fcntl-o.m4
/m4/gettext.m4
/m4/glibc2.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intmax.m4
/m4/inttypes-pri.m4
/m4/inttypes_h.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lock.m4
/m4/longlong.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/printf-posix.m4
/m4/progtest.m4
/m4/size_max.m4
/m4/stdint_h.m4
/m4/threadlib.m4
/m4/uintmax_t.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4

/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin

/po-conf/Makefile.in.in
/po-conf/Makevars.template
/po-conf/Rules-quot
/po-conf/boldquot.sed
/po-conf/en@boldquot.header
/po-conf/en@quot.header
/po-conf/insert-header.sin
/po-conf/quot.sed
/po-conf/remove-potcdate.sin

/src/.deps
/src/.libs
/src/Makefile
/src/Makefile.in
src/fcalias.h
src/fcaliastail.h
src/fcarch
src/fcftalias.h
src/fcftaliastail.h
src/fcobjshash.gperf
src/fcobjshash.h
src/fcstdint.h
src/stamp-fcobjshash.gperf
src/stamp-fcstdint

/test/.deps
/test/.libs
/test/Makefile
/test/Makefile.in
/test/out.expected

/test/test-bz106618
/test/test-bz106632
/test/test-bz131804
/test/test-bz89617
/test/test-bz96676
/test/test-d1f48f11
/test/test-issue107
/test/test-issue110
/test/test-migration
/test/test-name-parse
/test/test-pthread

/Makefile
/Makefile.in
/config.h
/config.log
/config.status
/config.sub
/config.guess
/ABOUT-NLS
/INSTALL
/aclocal.m4
/compile
/config.h.in
/config.rpath
/configure
/depcomp
/fontconfig.pc
/fontconfig.spec
/fontconfig-zip
/fonts.conf
/libtool
/install-sh
/missing
/stamp-h1
/test-driver

*.o
*.lo
