Makefile
config.h
config.log
config.status
doc/.deps/edit-sgml.Po
doc/Makefile
doc/version.sgml
fc-cache/.deps/fc-cache.Po
fc-cache/Makefile
fc-cache/fc-cache
fc-case/Makefile
fc-case/fcalias.h
fc-case/fcaliastail.h
fc-cat/.deps/fc-cat.Po
fc-cat/Makefile
fc-cat/fc-cat
fc-conflist/.deps/fc-conflist.Po
fc-conflist/Makefile
fc-conflist/fc-conflist
fc-lang/Makefile
fc-lang/fcalias.h
fc-lang/fcaliastail.h
fc-list/.deps/fc-list.Po
fc-list/Makefile
fc-list/fc-list
fc-match/.deps/fc-match.Po
fc-match/Makefile
fc-match/fc-match
fc-pattern/.deps/fc-pattern.Po
fc-pattern/Makefile
fc-pattern/fc-pattern
fc-query/.deps/fc-query.Po
fc-query/Makefile
fc-query/fc-query
fc-scan/.deps/fc-scan.Po
fc-scan/Makefile
fc-scan/fc-scan
fc-validate/.deps/fc-validate.Po
fc-validate/Makefile
fc-validate/fc-validate
fontconfig-zip
fontconfig.pc
fontconfig.spec
fontconfig/Makefile
fonts.conf
its/Makefile
libtool
po-conf/Makefile
po-conf/Makefile.in
po-conf/POTFILES
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/fcarch.Po
src/.deps/fcatomic.Plo
src/.deps/fccache.Plo
src/.deps/fccfg.Plo
src/.deps/fccharset.Plo
src/.deps/fccompat.Plo
src/.deps/fcdbg.Plo
src/.deps/fcdefault.Plo
src/.deps/fcdir.Plo
src/.deps/fcformat.Plo
src/.deps/fcfreetype.Plo
src/.deps/fcfs.Plo
src/.deps/fchash.Plo
src/.deps/fcinit.Plo
src/.deps/fclang.Plo
src/.deps/fclist.Plo
src/.deps/fcmatch.Plo
src/.deps/fcmatrix.Plo
src/.deps/fcname.Plo
src/.deps/fcobjs.Plo
src/.deps/fcpat.Plo
src/.deps/fcptrlist.Plo
src/.deps/fcrange.Plo
src/.deps/fcserialize.Plo
src/.deps/fcstat.Plo
src/.deps/fcstr.Plo
src/.deps/fcweight.Plo
src/.deps/fcxml.Plo
src/.deps/ftglue.Plo
src/.libs/libfontconfig.lai
src/Makefile
src/fcalias.h
src/fcaliastail.h
src/fcarch
src/fcftalias.h
src/fcftaliastail.h
src/fcobjshash.gperf
src/fcobjshash.h
src/fcstdint.h
src/stamp-fcobjshash.gperf
src/stamp-fcstdint
stamp-h1
test/.deps/test-bz106618.Po
test/.deps/test-bz131804.Po
test/.deps/test-bz96676.Po
test/.deps/test-issue107.Po
test/.deps/test-migration.Po
test/.deps/test-name-parse.Po
test/.deps/test-pthread.Po
test/.deps/test_bz106632-test-bz106632.Po
test/.deps/test_bz89617-test-bz89617.Po
test/.deps/test_conf-test-conf.Po
test/.deps/test_d1f48f11-test-d1f48f11.Po
test/.deps/test_issue110-test-issue110.Po
test/Makefile
test/out.expected
test/test-bz106618
test/test-bz106632
test/test-bz131804
test/test-bz89617
test/test-bz96676
test/test-d1f48f11
test/test-issue107
test/test-issue110
test/test-migration
test/test-name-parse
test/test-pthread
*.o
*.lo
