.libs
.deps
arm/.deps
contrib/libtests/.deps
contrib/tools/.deps
arm/.dirstamp
contrib/libtests/.dirstamp
contrib/tools/.dirstamp
Makefile
config.log
config.h
config.status
libpng-config
libpng.pc
libpng.vers
scripts/vers.out
libpng16.pc
libpng16-config
libtool
png-fix-itxt
png-fix
pngimage
pnglibconf.c
pnglibconf.h
pnglibconf.out
pngprefix.h
pngstest
pngunknown
pngvalid
stamp-h1
*.lo
*.o
